html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    background-color: white;
}

.debug {
    border: 1px solid black;
}

.whitespace {
    height: 5vh;
    width: 100%;
}

.whitespace_2 {
    height: 2vh;
    width: 100%;
}

/* *********************************************************** */

.name_holder_container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}


.name_holder {
    text-align: center;
    width: 60vw;
    font-size: 25px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: url(../images/background.png);
    display: flex;
    justify-content: space-around;
}

.name_holder a {
    text-decoration: none;
    outline: none;
    color: black;
}

.name_holder a p {
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 0 15px;
}



.name_holder img {
    width: 120px;
    height: 80px;
    float: left;

}
.photo_container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.photo_box {
    width: 10vw;
    height: 100%;
    cursor: pointer;
    border-radius: 5%;
}
/* *********************************************************** */

.nametag_holder {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
}

.name_artist {
    width: 10vw;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.art_name_holder_container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.art_name_holder {
    text-align: center;
    width: 40vw;
    font-size: 25px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: url(../images/background.png);
}
/* ************************************************************** */

.art_container {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-around;
}

.art_box {
    width: 15vw;
    height: 100%;
    transition: .4s;
}

.art_box:hover {
    transform: scale(1.7);
}

/* ************************************************************** */

.price_holder {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-around;

}

.price_box {
    width: 15vw;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
/* start view_all_art page ********************************************* */

.filter_container {
    width: 12vw;
    display: inline-block;
    float: left;
    margin-left:  20px;
    margin-right: 20px;
    margin-top: 32px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px 1px grey;
}

.filter_container a {
    text-decoration: none;
    color: black;
    outline: none;
    font-size: 20px;
}

.filter_container a:hover {
   border-bottom: 1px solid black;
   border-top: 1px solid black;
}


.filter_box {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid black;

}

.all_art_container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

   

.name_art_price_box {
    display: flex;
    height: 40vh;
    width: 15vw;
    flex-direction: column;
    margin-bottom: 15px;
    transition: 0.4s;
}

.name_art_price_box:hover {
    transform: scale(1.5);
    background: black;
    color: white;
}

.all_art_name_box {
    height: 10%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.all_art_artwork {
    width: 100%;
    height: 80%;
}

.all_art_price_box {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}