html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    text-align: center;
}

.debug {
    border: 1px solid black;
}
/* einde standaard css code ******************************* */



.navbar_container {
    position: sticky;
    width:  100%;
    height: 5vh;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_container a {
    text-decoration: none;
    outline: none;
    color: black;
}

@media screen and (min-width: 500px) {
    
}

/* end navbar ******************************************************* */

.photo_container {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url(/images/girl1.jpg);
    background-size: cover;
}

.circle_container {
    width: 16%;
    height: 4vh;
    bottom: 0;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    display: flex;
    left: 42%;
    background-color: rgba(192,192,192,0.6);
}

.circle1 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle2 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle3 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle4 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle5 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

/* end slider ******************************************************** */

.whitespace {
    height: 5vh;
    width: 100%;
}






