html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    text-align: center;
}

.debug {
    border: 1px solid black;
}
/* einde standaard css code ******************************* */

.navbar_container {
    width:  100%;
    height: auto;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
}

.navbar_container a {
    text-decoration: none;
    outline: none;
    color: black;
    display: inline-block;
    width: 100%;
}

@media screen and (min-width: 500px) {
    .navbar_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
    }
}

@media screen and (min-width: 500px) {
    .navbar_container a {
        width: auto;
    }
}


/* end navbar ******************************************************* */

.photo_container {
    position: relative;
    height: 90vh;
    width: 100%;
    transition: 1s;
}

#sliderHome {
    width: 100%;
    height: 100%;
}


.circle_container {
    width: 16%;
    height: 4vh;
    bottom: 0;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    display: flex;
    left: 42%;
    background-color: rgba(192,192,192,0.6);
}

.circle1 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle2 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle3 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle4 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

.circle5 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
}

/* end slider ******************************************************** */

.whitespace {
    height: 5vh;
    width: 100%;
}






