html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

.debug {
    border: 1px solid black;
}
/* einde standaard css code ******************************* */

.navbar_container {
    width:  100%;
    height: auto;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.navbar_container a {
    text-decoration: none;
    outline: none;
    color: black;
    display: inline-block;
    width: 100%;
}

.navbar_container a:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

@media screen and (min-width: 500px) {
    .navbar_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 7vh;
    }
}

@media screen and (min-width: 500px) {
    .navbar_container a {
        width: auto;
    }
}


/* end navbar ******************************************************* */

.photo_container {
    position: relative;
    height: 90vh;
    width: 100%;
    transition: 1s;
}

#sliderHome {
    width: 100%;
    height: 100%;
}

#logo_stamp {
    position: absolute;
    padding: 10px 0 0 10px;
}


.circle_container {
    width: 16%;
    height: 4vh;
    bottom: 0;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    display: flex;
    left: 42%;
    background-color: rgba(0,0,0,0.8);
}

.circle1 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

.circle2 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

.circle3 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

.circle4 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

.circle5 {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

/* end slider ******************************************************** */

.whitespace {
    height: 5vh;
    width: 100%;
}

/* start current exhibition ******************************************* */

#current_exhibition {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7vh;
    align-items: center;
    font-size: 25px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    letter-spacing: 8px;
}

.CA_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CA_photo_container {
    height: 75%;
    width: 35vw;
    background-image: url(../images/artist1.jpg);
    background-size: cover;
}


.CA_text_container {
    height: 60%;
    width: 35%;
    text-align: left;
}

.CA_next_container {
    height: 20%;
    width: 20vw;
    display: block;
}

.next_text {
    height: 40%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}


.next_arrow {
    height: 60%;
    width: 80%;
    margin: auto;
    margin-top: -20px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .CA_container {
        display: block;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .CA_photo_container {
        display: block;
        width: 100%;
    }

    .CA_text_container {
        display: block;
        width: 100%;
        padding: 0 10px;
    }
}
